@page "/"

<PageTitle>Club</PageTitle>

<h1>Hello, welcome to StarTED!</h1>

<p>Entity Relationship Diagram</p>

<img src="img/entitiesa02.jpg" alt="ERD" width="350" height="575" />

<!-- paging in query does not work as expect -->